// Define tus colores personalizados
:root {
    --color-naranja-fondo: rgb(251, 165, 35);
    --color-azul-marino: #000066;
}

.imagen-falla {
    width: 90%;
    max-width: 400px;
    /* ajusta el tamaño máximo según tus necesidades */
    display: block;
    margin: 3vh auto;
    /* para centrar la imagen horizontalmente */
    border-radius: 8px;
    /* para redondear las esquinas de la imagen, si deseas */
    box-shadow: 0 0 10px rgba(0, 0, 102, 0.4);
    /* sombra suave */
}

swiper-container{
    width: 100%;
    height: auto;
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

