ion-content::part(scroll) {
    overflow-y: hidden; /* Deshabilita el desplazamiento vertical */
    overflow-x: hidden; /* Deshabilita el desplazamiento horizontal, si lo deseas */
}


.circle-background {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #fa8f42;
    position: absolute;
    top: 35%;
    left: -275px;
    transform: translate(0%, -50%);
    overflow: hidden;
    z-index: -1;
    /* Aquí establecemos el z-index en un valor menor */
}

.imagen-redonda {
    width: 200px;
    /* Ajusta el tamaño según sea necesario */
    height: 200px;
    /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    /* Esto ocultará cualquier parte de la imagen que se salga del contenedor */
    border-radius: 50%;
    /* Esto redondeará la imagen */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.imagen-redonda img {
    width: 100%;
    /* Asegúrate de que la imagen ocupe todo el contenedor */
    height: auto;
    /* La altura se ajustará automáticamente para mantener la proporción */
    display: block;
    /* Para evitar espacios en blanco debajo de la imagen */
}

.imgModal {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.btnNoti {
    margin-top: 3vh;
}

.nombreUsuario {
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 3vh;
    font-weight: bold;
}

ion-fab {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 56px;
    /* Ancho del botón */
    height: 56px;
    /* Altura del botón */
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    display: flex;
    justify-content: center;
    align-items: center;
}


.block {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-modal {
    --height: auto;
}

.firstCard {
    margin-top: 11vh;
    background-color: #ffffffa8;
}

.secondCard {
    background-color: #ffffffa8;
}

.interiorCard {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Usa flexbox para alinear elementos hijos */
    align-items: center;
    /* Centra verticalmente los elementos hijos */
}

.interiorIcon {
    font-size: 30px;
    color: #000000;
    margin: 2vh;
}

.logIcon {
    color: red;
}

span {
    font-size: 17px;
    color: #000000;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.h2Admin {
    color: #000000;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

hr {
    border: 0;
    /* Elimina el borde predeterminado */
    height: 1px;
    /* Establece la altura de la línea */
    background-color: #fa8f42;
    /* Establece el color de fondo de la línea */
    width: 90%;
}

ion-item ion-row ion-col {
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

ion-col {
    padding: 0px;
}

.cardModal1 {
    background-color: rgba(255, 255, 255, 0);
    /* Fondo semi-transparente */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Sombra */
    padding: 20px;
    /* Espaciado interno */

    /* Estilos para hacer que la tarjeta sea un poco más grande */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}




.col1 {
    text-align: right;
    /* Alinea el texto a la derecha */
    justify-self: end;
    /* Empieza en el extremo derecho */
    margin-right: 2vh;
}

.col2 {
    border-left: 1px solid #fa8f42;
    /* Añade un borde a la derecha */
    justify-self: start;
    /* Empieza en el extremo izquierdo */

}

.col3 {
    text-align: center;
}

.h5Modal {
    margin-left: 2vh;
}


.first {
    margin-top: 3vh;
}

.last {
    margin-bottom: 3vh;
}

.btnNew {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

@media (min-width: 1200px) {

    .firstCard,
    .secondCard {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

}