.centered-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fotoGrande {
  width: 70%;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centered-text h1 {
  font-weight: bold;
  font-weight: 3000; /* Aumentar el grosor de la negrita */
  font-size: 2em; /* Ajustar el tamaño del texto */
  letter-spacing: 2px; /* Ajustar el espaciado entre letras */
  color: #000066;
}

.square-image {
  width: 100%;
  height: auto;
/*   padding-top: 100%; /* Esto establece la altura como un porcentaje del ancho, lo que mantiene la imagen cuadrada */
   object-fit: cover; /* Esto asegura que la imagen cubra completamente el contenedor */
  object-position: center; /* Esto asegura que la imagen se posicione centrada en el contenedor */
}



