.centered-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fotoGrande {
  width: 70%;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centered-text h1 {
  font-weight: bold;
  font-weight: 3000; /* Aumentar el grosor de la negrita */
  font-size: 2em; /* Ajustar el tamaño del texto */
  letter-spacing: 2px; /* Ajustar el espaciado entre letras */
  color: #000066;
}
