// Estilo para la pestaña activa
.tab-active {
  color: #ff6a00; // Cambia al color deseado
}

// Estilo para la pestaña inactiva
.tab-inactive {
  color: #000000; // Cambia al color deseado
}

// Cambiar el color de fondo del tab bar si es necesario
ion-tab-bar {
  background-color: #ffffff; // Cambia al color deseado
}
