.circle-background2 {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #fa8f42;
  position: absolute;
  top: 5%;
  left: -235px;
  transform: translate(0%, -50%);
  overflow: hidden;
  z-index: -1;
}

.circle-background1 {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #fa8f42;
  position: absolute;
  top: 5%;
  right: -235px;
  transform: translate(0%, -50%);
  overflow: hidden;
  z-index: -1;
}

ion-segment {
  margin-top: 15vh;
  background-color: #fa8f42;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
}

ion-fab {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.full-width-card {
  margin-top: 20px;
}

.centered-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ion-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

ion-card-header {
  background-color: #f8f8f8;
}

ion-list {
  margin-top: 10px;
}

.main-card {
  background-color: #d9d9d9;
}

.first-heading {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

ion-content[fullscreen="true"] {
  .main-card:first-of-type {
    margin-top: 30vh;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.centered-row {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.block {
  width: 100%;
  height: 800px;
  justify-content: center;
}

ion-modal {
  --height: auto;
  
}
.block{
  overflow-y: auto;
}

.newEvent {
  margin-top: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  width: 80%;
  border-radius: 10px;
  box-sizing: border-box;
  --background: #fa8f42; // Color de fondo del botón
  --color: #fff; // Color del texto del botón
}

.custom-item {
  border-bottom: 1px solid #ccc; // Línea divisoria entre elementos
}

.card-container2 {
  width: 100%;
  display: flex;
  flex-direction: column; // Contenido en columna
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.card-content2 {
  flex: 1; // El contenido ocupa todo el espacio disponible
}

.dateEdit {
  margin-bottom: 5px; // Espacio entre la fecha y el título
  text-align: start; // Centra el texto
}

.button-container {
  margin-top: 10px; // Espacio entre el contenido y el botón
  text-align: right; // Alinea el botón a la derecha
}

.action-button {
  --background: #fa8f42; // Color de fondo del botón
  --color: #fff; // Color del texto del botón
  --border-radius: 20px; // Radio de borde del botón
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: end;
  align-items: end;
}
