

ion-datetime {
  margin-bottom: 20px;
  margin-top: 20px;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente los elementos */
}

ion-card-title,
ion-card-subtitle,
ion-card-content,
ion-item {
  text-align: center;
  /* Centra el texto dentro de los elementos hijo */
}
.full-width-card ion-card-title,
.full-width-content h2,
.full-width-content p {
    color: #000066;
}


.full-width-card {
  width: 90%;
}

.full-width-content {
  width: 100%;
  margin-top: 1rem;
}

.full-width-content h2 {
margin-bottom: 1rem;
margin-top: 1rem;
}






