<ion-content [fullscreen]="true">
  <div class="circle-background1" *ngIf="segmentValue === 'eventos'"></div>

  <div class="circle-background2" *ngIf="segmentValue === 'calendario'"></div>

  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="eventos">
      <ion-label>Eventos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="calendario">
      <ion-label>Calendario</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido para Eventos -->
  <div *ngIf="segmentValue === 'eventos'">
    <ion-card class="main-card" *ngFor="let fechaDestacada of highlightedDates; let i = index">
      <!-- Contenido de las tarjetas de eventos -->
      <ion-card-content [class.expanded]="tarjetaSeleccionada === i" (click)="seleccionarTarjeta(i)"
        *ngIf="esFechaIgualOPosterior(fechaDestacada.date)">
        <div class="card-container">
          <div class="card">
            <div class="card-content">
              <h1>{{ formatDate(fechaDestacada.date) }}</h1>
            </div>
          </div>
        </div>
      </ion-card-content>

      <!-- Contenido de las tarjetas expandibles -->
      <ion-card *ngIf="tarjetaSeleccionada === i" class="expanded-card">
        <ion-card-content>
          <div class="card-container">
            <div class="card">
              <div class="card-content">
                <!-- Iterar sobre los eventos de la fecha seleccionada que son igual o superior a la fecha actual -->
                <ion-list>
                  <ion-item *ngFor="let evento of fechaDestacada.eventos">
                    <ion-label>
                      <h2>{{ evento.titulo }}</h2>
                      <p>{{ evento.descripcion }}</p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>

  <!-- Contenido para Calendario -->
  <div *ngIf="segmentValue === 'calendario'">
    <div class="calendar-container">
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechaSeleccionada" presentation="date"
        [highlightedDates]="highlightedDates" (ionChange)="mostrarInformacionMejorada()"></ion-datetime>
    </div>


    <ion-card *ngIf="fechaDestacadaSeleccionada" class="full-width-card">
      <!-- Contenido que estaba en el modal -->
      <ion-card-header>
        <ion-card-title>{{ fechaDestacadaSeleccionada.date }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="full-width-content">
        <ion-list>
          <ion-item *ngFor="let evento of fechaDestacadaSeleccionada.eventos">
            <ion-label>
              <h2>{{ evento.titulo }}</h2>
              <p>{{ evento.descripcion }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Botón para añadir evento -->
    <ion-row class="centered-row">
      <ion-fab-button id="open-modal" expand="block">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button (click)="agregarEvento()" routerLink="/event-form">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button> -->
    </ion-row>

    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">

          <ion-row>
            <ion-col>
              <ion-button class="newEvent" (click)="agregarEvento(); closeModal()" routerLink="/event-form">Event
                nou</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="newNoti" (click)="closeModal()">Avis nou</ion-button>
            </ion-col>
          </ion-row>



          <ion-list *ngFor="let nuevoEvento of highlightedDates">
            <!-- Contenido de las tarjetas de eventos -->
            <ion-item class="custom-item">
              <div class="card-container2">
                <div class="card-content2">
                  <ion-row>
                    <!-- Columna para la fecha y el título -->
                    <ion-col size="9">
                      <h1 class="dateEdit">{{ formatDate(nuevoEvento.date) }}</h1>
                      <!-- Iterar sobre los eventos de la fecha seleccionada que son igual o superior a la fecha actual -->
                      <ion-list>
                        <ion-item class="event-item2" *ngFor="let evento of nuevoEvento.eventos">
                          <ion-label>
                            <h2>{{ evento.titulo }}</h2>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                    <!-- Columna para el botón -->
                    <ion-col size="3">
                      <!-- <ion-button  class="action-button">Actuar</ion-button> -->
                      <ion-button (click)="presentActionSheet(nuevoEvento)" class="action-button">Actuar</ion-button>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-item>
          </ion-list>






        </div>
      </ng-template>
    </ion-modal>


  </div>



</ion-content>