<ion-content [fullscreen]="true">
  <div class="mobile-content">
    @if (segmentValue === 'eventos') {
    <div class="circle-background1"></div>
    }
    @if (segmentValue === 'calendario') {
    <div class="circle-background2"></div>
    }

    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button value="eventos">
        <ion-label>Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="calendario">
        <ion-label>Calendari</ion-label>
      </ion-segment-button>
    </ion-segment>



    @if (segmentValue === 'eventos') {
    @for (fechaDestacada of highlightedDates; let i = $index; track fechaDestacada) {
    <ion-card class="main-card">
      @if (esFechaIgualOPosterior(fechaDestacada.date)) {
      <ion-card-content [class.expanded]="tarjetaSeleccionada === i" (click)="seleccionarTarjeta(i)">
        <div class="card-container">
          <h1>{{ formatDate(fechaDestacada.date) }} <h2>{{ fechaDestacada.eventos[0].titulo }}</h2>
          </h1>
        </div>
      </ion-card-content>

      <!-- Contenido de las tarjetas expandibles -->
      @if (tarjetaSeleccionada === i) {
      <ion-list class="expanded-card">
        @for (evento of fechaDestacada.eventos ; track evento) {
        <ion-item class="event-item">
          <ion-label>
            <h4>{{ evento.descripcion }}</h4>
          </ion-label>
        </ion-item>
        }

      </ion-list>
      }

      }
    </ion-card>
    }

    }
    @if (segmentValue === 'calendario') {
    <div class="calendar-container">
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechaSeleccionada" presentation="date"
        [highlightedDates]="highlightedDates" (ionChange)="mostrarInformacionMejorada()"
        class="custom-datetime"></ion-datetime>
    </div>
    @if (fechaDestacadaSeleccionada) {
    <ion-card class="full-width-card">
      <!-- Contenido que estaba en el modal -->
      <ion-card-header>
        <ion-card-title>{{ formatDate(fechaDestacadaSeleccionada.date) }}</ion-card-title>
      </ion-card-header>
      <ion-list>
        @for (evento of fechaDestacadaSeleccionada.eventos; track evento.titulo) {
        <ion-item>
          <ion-label>
            <h2>{{ evento.titulo }}</h2>
            <h4>{{ evento.descripcion }}</h4>
          </ion-label>
        </ion-item>
        }

      </ion-list>
    </ion-card>
    }
    }
  </div>

  <div class="desktop-content">
    <div class="circle-background1"></div>

    <div class="circle-background2"></div>
    <!-- Contenido para Eventos -->
    <ion-row>
      <ion-col>
        <div class="firstPart">
          @for (fechaDestacada of highlightedDates; let i = $index; track fechaDestacada) {
          <ion-card class="main-card2">
            @if (esFechaIgualOPosterior(fechaDestacada.date)) {
            <ion-card-content [class.expanded]="tarjetaSeleccionada === i" (click)="seleccionarTarjeta(i)">
              <div class="card-container">
                <h1>{{ formatDate(fechaDestacada.date) }} - {{ fechaDestacada.eventos[0].titulo }}</h1>
              </div>
            </ion-card-content>
            }

            @if (tarjetaSeleccionada === i) {
            <ion-list class="expanded-card">
              @for (evento of fechaDestacada.eventos; track evento) {
              <ion-item class="event-item">
                <ion-label>
                  <h2>{{ evento.titulo }}</h2>
                  <p>{{ evento.descripcion }}</p>
                </ion-label>
              </ion-item>
              }
            </ion-list>
            }
          </ion-card>
          }
        </div>
      </ion-col>
      <ion-col>
        <!-- Contenido para Calendario -->
        <div class="secondPart">
          <div class="calendar-container2">
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fechaSeleccionada" presentation="date"
              [highlightedDates]="highlightedDates" (ionChange)="mostrarInformacionMejorada()"
              class="custom-datetime"></ion-datetime>
          </div>
          @if (fechaDestacadaSeleccionada) {
          <ion-card class="full-width-card">
            <!-- Contenido que estaba en el modal -->
            <ion-card-header>
              <ion-card-title>{{ formatDate(fechaDestacadaSeleccionada.date) }}</ion-card-title>
            </ion-card-header>
            <ion-list>
              @for (evento of fechaDestacadaSeleccionada.eventos; track evento) {
              <ion-item>
                <ion-label>
                  <h1>{{ evento.titulo }}</h1>
                  <h2>{{ evento.descripcion }}</h2>
                </ion-label>
              </ion-item>
              }
            </ion-list>
          </ion-card>
          }
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>