.circle-background {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #fa8f42;
  position: absolute;
  top: 35%;
  right: -275px;
  transform: translate(0%, -50%);
  overflow: hidden;
  z-index: -1; /* Aquí establecemos el z-index en un valor menor */
}

.centered-image {
  position: static;
  margin-top: 20vh;
  top: 100%;
  left: 50%;
}

.centered-image img {
  width: 100%;
  transform: scale(1.7);
}

h1 {
  margin-top: 8vh;
  margin-left: 2vh;
  margin-bottom: 20px;
  /* Agrega margen inferior para separar el h1 de la tarjeta */
}

.main-card {
  background-color: #d9d9d9;

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    /* Color de fondo de la tarjeta */
    border-radius: 10px;
  }

  .card-content {
    display: flex;
    align-items: center;
  }

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex; /* Usamos flexbox */
    justify-content: center; /* Centramos horizontalmente */
}

img {
    width: 100%;
    border-radius: 50%;
    align-self: center; /* Para centrar verticalmente */
}


  h2 {
    margin: 0;
    font-size: 24px; /* Tamaño de letra más grande */
    font-weight: bold; /* Texto en negrita */
  }

  .divider {
    margin-top: 1.5vh;
    border-top: 1px solid #888;
    width: 90%;
  }
}

ion-fab {
  position: absolute;
  top: 3rem;
  /* Ajusta según sea necesario */
  left: 3rem;
  /* Ajusta según sea necesario */
}
