<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab5" text="Tornar"></ion-back-button>
    </ion-buttons>

    
  </ion-toolbar>
  <div class="circle-background1"></div>
  <div class="circle-background2"></div>
  <div class="circle-background3"></div>
  <div class="circle-background4"></div>
  <div class="circle-background5"></div>
  <div class="circle-background6"></div>

  <ion-card >
    <ion-list *ngFor="let aviso of avisosFalla">
      <ion-item>
        <h1>{{ aviso.titulo }}</h1>
      </ion-item>
      </ion-list>
  </ion-card>
</ion-content>