.circle-background {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #fa8f42;
  position: absolute;
  top: 35%;
  left: -275px;
  transform: translate(0%, -50%);
  overflow: hidden;
  z-index: -1;
}

.main-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  ion-card-content {
    padding: 20px;
  }
  h1 {
    color: #000 !important;
  font-weight: bold !important;
  text-align: center !important;
  }

  h2 {
    color: #333; // Color gris ya establecido
  }
}
