<ion-content [fullscreen]="true">
  <div class="circle-background1" ></div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>21 ABRIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>3 MAYO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>6 ABRIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>31 MAYO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>23 ABRIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>15 MAYO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>21 ABRIL</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>3 MAYO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Algo</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>