ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-item:first-child {
  margin-top: 5vh; /* Agregar margen superior solo al primer ion-item */
}

ion-item {
  margin-bottom: 20px; // Añadir un margen inferior a los elementos de la lista
}

ion-datetime {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

ion-label {
  color: #000000 !important; // Asegurar que el color de las etiquetas se aplique
  text-align: center; // Centrar el texto de las etiquetas
  font-size: 1.5em !important; // Ajustar el tamaño de fuente de las etiquetas
  text-transform: uppercase; // Convertir el texto de las etiquetas a mayúsculas
  margin-bottom: 10px; // Añadir margen inferior a las etiquetas
}

ion-button {
  margin-top: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
  width: 80%;
  border-radius: 10px;
  box-sizing: border-box;
  --background: #fa8f42; // Color de fondo del botón
  --color: #fff; // Color del texto del botón
}

ion-toolbar{
  background-color: transparent;
}
